{% extends "base.html" %}

{% block content %}

<div class="card" style="max-width:500px; margin:auto;">

    <h1 style="text-align:center; color:#2563eb;">Contact Me ✉️</h1>

    <input placeholder="Your Name" style="width:100%; padding:10px; margin-top:15px; border:1px solid #ddd; border-radius:10px;">
    <input placeholder="Your Email" style="width:100%; padding:10px; margin-top:10px; border:1px solid #ddd; border-radius:10px;">
    <textarea placeholder="Your Message" style="width:100%; padding:10px; margin-top:10px; border:1px solid #ddd; border-radius:10px; height:120px;"></textarea>

    <button class="btn" style="margin-top:15px; width:100%;">Send Message</button>

</div>

{% endblock %}